@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f1ece9; /* Light background color */
  --color-2bg: #f7f6f6;
  --color-title: #1e1d1d;
  --color-text: #797b6c; /* Dark text color */
  --color-grey: #726f6f;
  --color-footer: #cfa28651;
}

.dark {
  --color-bg: #141414 /* Dark background color */;
  --color-2bg: #202020;
  --color-title: white;
  --color-text: #f1e2c2;
  --color-grey: #d8d8d8;
  --color-footer: #797b6c;
}

